{%- doc -%}
  Renders a single tab panel with content routing based on tab ID.

  @param {string} tab - The tab ID ('shop', 'new', or 'explore')
  @param {object} linklist - The menu linklist for navigation items
  @param {string} active_tab - The initially active tab ID
  @param {object} block - The block object for settings
  @param {object} section - The section object for settings

  @example
  {% render 'tabbed-drawer-panel', tab: 'shop', linklist: linklist, active_tab: 'shop' %}
{%- enddoc -%}

<div
  id="panel-{{ tab }}"
  class="tabbed-drawer__panel"
  role="tabpanel"
  data-tab="{{ tab }}"
  aria-labelledby="tab-{{ tab }}"
  ref="tabPanels[]"
  {% unless tab == active_tab %}hidden{% endunless %}
>
  {% case tab %}
    {% when 'shop' %}
      {%- comment -%} SHOP Tab Content {%- endcomment -%}
      <div class="tabbed-drawer__content tabbed-drawer__content--shop">
        <div class="tabbed-drawer__section">
          <h3 class="tabbed-drawer__heading">BEST SELLERS</h3>
        </div>

        <div class="tabbed-drawer__section">
          <h3 class="tabbed-drawer__heading">HUNTING GEAR</h3>
        </div>

        <div class="tabbed-drawer__section">
          <details class="tabbed-drawer__accordion">
            <summary class="tabbed-drawer__accordion-trigger">
              <span>SHOP BY CATEGORY</span>
              <span class="svg-wrapper icon-caret">
                {{ 'icon-caret.svg' | inline_asset_content }}
              </span>
            </summary>
            <div class="tabbed-drawer__accordion-content">
              {%- comment -%} TODO: Add category links {%- endcomment -%}
              <ul class="menu-drawer__menu" role="list">
                <li><a href="#">Category 1</a></li>
                <li><a href="#">Category 2</a></li>
                <li><a href="#">Category 3</a></li>
              </ul>
            </div>
          </details>
        </div>

        <div class="tabbed-drawer__section">
          <details class="tabbed-drawer__accordion">
            <summary class="tabbed-drawer__accordion-trigger">
              <span>SHOP BY PURPOSE</span>
              <span class="svg-wrapper icon-caret">
                {{ 'icon-caret.svg' | inline_asset_content }}
              </span>
            </summary>
            <div class="tabbed-drawer__accordion-content">
              {%- comment -%} TODO: Add purpose links {%- endcomment -%}
              <ul class="menu-drawer__menu" role="list">
                <li><a href="#">Purpose 1</a></li>
                <li><a href="#">Purpose 2</a></li>
                <li><a href="#">Purpose 3</a></li>
              </ul>
            </div>
          </details>
        </div>

        <div class="tabbed-drawer__section">
          <a href="/collections/all" class="tabbed-drawer__link-item">SHOP ALL</a>
        </div>

        <div class="tabbed-drawer__promo">
          <h4 class="tabbed-drawer__promo-title">Planning a Hunt?</h4>
          <a href="/pages/system-builder" class="button button--secondary tabbed-drawer__promo-cta">
            BUILD YOUR SYSTEM
          </a>
        </div>
      </div>

    {% when 'new' %}
      {%- comment -%} NEW Tab Content - Image Cards {%- endcomment -%}
      <div class="tabbed-drawer__content tabbed-drawer__content--new">
        <div class="tabbed-drawer__cards-grid">
          <a href="/collections/range-gear" class="tabbed-drawer__card">
            <div class="tabbed-drawer__card-image" style="background-image: url('{{ 'placeholder.svg' | asset_url }}')">
              <div class="tabbed-drawer__card-overlay">
                <h3 class="tabbed-drawer__card-title">RANGE GEAR</h3>
                <span class="tabbed-drawer__card-cta">SHOP NOW</span>
              </div>
            </div>
          </a>

          <a href="/collections/hunting-gear" class="tabbed-drawer__card">
            <div class="tabbed-drawer__card-image" style="background-image: url('{{ 'placeholder.svg' | asset_url }}')">
              <div class="tabbed-drawer__card-overlay">
                <h3 class="tabbed-drawer__card-title">HUNTING GEAR</h3>
                <span class="tabbed-drawer__card-cta">SHOP NOW</span>
              </div>
            </div>
          </a>

          <a href="/collections/upland-gear" class="tabbed-drawer__card">
            <div class="tabbed-drawer__card-image" style="background-image: url('{{ 'placeholder.svg' | asset_url }}')">
              <div class="tabbed-drawer__card-overlay">
                <h3 class="tabbed-drawer__card-title">UPLAND GEAR</h3>
                <span class="tabbed-drawer__card-cta">SHOP NOW</span>
              </div>
            </div>
          </a>
        </div>
      </div>

    {% when 'explore' %}
      {%- comment -%} EXPLORE Tab Content - Text List {%- endcomment -%}
      <div class="tabbed-drawer__content tabbed-drawer__content--explore">
        <h3 class="tabbed-drawer__section-title">EXPLORE</h3>
        <ul class="tabbed-drawer__text-menu" role="list">
          <li class="tabbed-drawer__text-menu-item">
            <a href="/pages/about" class="tabbed-drawer__text-link">ABOUT T&K</a>
          </li>
          <li class="tabbed-drawer__text-menu-item">
            <a href="/pages/field-notes" class="tabbed-drawer__text-link">FIELD NOTES</a>
          </li>
          <li class="tabbed-drawer__text-menu-item">
            <a href="/pages/manufacturing" class="tabbed-drawer__text-link">MANUFACTURING PROCESS</a>
          </li>
          <li class="tabbed-drawer__text-menu-item">
            <a href="/pages/pricing" class="tabbed-drawer__text-link">PRICING TRANSPARENCY</a>
          </li>
          <li class="tabbed-drawer__text-menu-item">
            <a href="/pages/military-discount" class="tabbed-drawer__text-link">GOVX ID MILITARY DISCOUNT</a>
          </li>
          <li class="tabbed-drawer__text-menu-item">
            <a href="/pages/contact" class="tabbed-drawer__text-link">CONTACT US</a>
          </li>
        </ul>
      </div>
  {% endcase %}
</div>
